.container {  
  max-width: 1000px;
  margin-top: 20px;
  margin: 0 auto;
}
.name {
  margin-bottom: 30px;
  font-family: sans-serif;
  font-size: 2rem;
}
.lesson22-wrap {
  border: 1px solid black;
  margin-bottom: 30px;
}
.lesson22-block {  
  background-color: bisque;
  padding: 25px 25px 0;
  width: 50vw;
  height: 100px;
  overflow: scroll;
}
.lesson23-wrap {
  margin-bottom: 30px;
}
.lesson23-one {
  margin-bottom: 30px;
  height: 400px;
  background-image: url(../images/dog.jpg), linear-gradient(45deg, #caf5eb 2%, #1b3e40 93%);
  background-repeat: no-repeat;
  background-position: center center;
  
} 
.lesson23-two {
  height: 400px;
  background: url(../images/laptop.jpg) center center/400px no-repeat, linear-gradient(90deg, #945f8d 18%, #050006 73%);
}
.lesson24-wrap {
  min-height: 300px;
  margin-bottom: 30px;
}
.lesson24 {
  width: 100px;
  height: 100px;
  background-color: #6fcdb7;
  position: fixed;
  bottom: 100px;
  right: 50px;
  left: 50vw;
}
.lesson24 p {
  padding-top: 40%;
  font-size: .9rem;
  font-family: sans-serif;
}
.lesson25-wrap {
  min-height: 300px;
  margin-bottom: 30px; 
}
.block{
  width: 200px;
  height: 100px;
}
.lesson25 {
  display: flex;
  justify-content: center;
}
.lesson25__one {  
  background-color: #aa2666;
}
.lesson25__two {
  background-color: #3b9a86;
  transform: skewX(30deg) translateX(.1vw);
}
.lesson26-wrap {  
  min-height: 300px;  
}
.lesson26-block {
  width: 100px;
  height: 100px;
  margin-left: 30px; 
  border: 5px solid #000000;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0ms; */
  transition: all 1s ease 0s;
}
.lesson26-block:hover {
  border: 5px solid #ef0707;
}