.container {  
  max-width: 500px;
  margin: 0 auto;
}

.lesson24-wrap {
  min-height: 300px;
  margin-bottom: 10px;
}
.lesson24 {
  width: 100px;
  height: 100px;
  background-color: #6fcdb7;
  position: fixed;
  bottom: 100px;
  right: 50px;
  left: 50vw;
}
.text {
  font-size: 2rem;
}
