.container {  
  max-width: 1000px;
  margin: 3rem auto;
  font-family: sans-serif;
}
.menu__item {
  list-style: none;

  margin-bottom: 1.5rem;
}

.menu__item:hover {
  font-weight: 700;
  transition: .5s;
}
.menu__item:hover:first-child {
  color: red;
  
}
